.box-cover{
    width:100%;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.topic-customer{
    float: left;
    display: flex;
    padding-left: 10px;
}
.content-1{
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    padding-left: 20px;
}
.box-right{
    float:right;
    display: flex;
}
.horizontal{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
    padding-top: 10px;
    border-bottom:solid 1px #eef1f5;
    padding-bottom:10px;
}
.btn-top-right{
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    width:100px;
    background-color: white;
    border-color: #007c7e;
    border-style: solid;
    height:auto;
    margin-right:20px;
    border-radius:20px;
}
.btn-top-right:hover{
    background-color: #007c7e;
    color:white;
}