.box-ngang{
    width:80%;
    height: auto;
}
.topic{
    width: 80%;
    height: auto;
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    padding-top: 10px;
    color: black;
}
.content-n{
    width: 90%;
    height: auto;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    color: black;
}