.content-cover{
    width:100%;
    height: auto;
    background-color: white;
}
.box-cover{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: auto;
   border-bottom: solid 1px #eef1f5;
   padding-top:10px;
   padding-bottom: 10px;
}