.rectangleinvoices{
    width:98%;
    margin-left: 15px;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.topic-left-elec{
    float: left;
    display: flex;
    width:40%;
    padding-left: 15px;
}
.topic-right-elec{
    width:60%;
}
.contentinvoices{
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    padding-left: 20px;
    height:auto;
    text-align: left;
    padding-top: 5px;

}
.btn-right-elec{
    float:right;
    display: flex;
}
.detailed-btn-elec{
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    width:100px;
    background-color: white;
    border-color: #007c7e;
    border-style: solid;
    height:auto;
    margin-right:20px;
    border-radius:20px;
}
.detailed-btn:hover{
    background-color: #007c7e;
    color:white;
}
@media only screen and (max-width: 1026px) {
  .topic-right-elec
  {
      width: 40%;
  }
  .topic-left-elec{
      width: 60%;
  }
  .contentinvoices{
      font-size: 12px;
  }
  .rectangleinvoices{
      width:94%;
  }
}