.rectanglebranches {
  width: 98%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-right: 5px;
}
.topic-left-branches {
  float: left;
  display: flex;
  width: 40%;
  padding-left: 15px;
}
.topic-right-branches {
  width: 60%;
}
.contentbranches {
  font-size: 25px;
  font-family: "PT Sans, sans-serif";
  color: #007c7e;
  padding-left: 20px;
  padding-top: 5px;
}
.btn-right-branches {
  float: right;
  display: flex;
}
.detailed-btn-branches {
  font-size: 15px;
  font-family: "PT Sans, sans-serif";
  color: #007c7e;
  width: 100%;
  background-color: white;
  border-color: #007c7e;
  border-style: solid;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}
.detailed-btn-branches:hover {
  background-color: #007c7e;
  color: white;
}
.btncreatebranches {
  display: flex;
}
@media only screen and (max-width: 1026px) {
  .svg-inline--fa.fa-w-20 {
    width: 1.05em;
  }
  .topic-right-branches {
    width: 30%;
  }
  .topic-left-branches {
    width: 70%;
  }
  .contentbranches {
    font-size: 12px;
    padding-top: 10px;
  }
  .btn-right-branches {
    padding-top: 10px;
  }
  .btncreatebranches {
  }
  .rectangle {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  .topic-left-branches {
    float: left;
    display: flex;
    width: 70%;
  }
  .topic-right-branches {
    width: 30%;
    height: auto;
    display: flex;
  }
  .content {
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color: #007c7e;
    padding-left: 20px;
  }
  .element-select {
    width: 40%;
    padding-right: 10px;
  }
  .btn-right-branches {
    float: right;
    display: flex;
    width: 50%;
  }
  .detailed-btn-branches {
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    color: #007c7e;
    width: 100%;
    padding-left: 170px;
  }
}
