.rectangle{
    width:100%;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.topic-left-con{
    float: left;
    display: flex;
    width:70%;
}

.content{
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    padding-left: 20px;

}
.btn-right-con{
    float:right;
    display: flex;
    width:30%;

}
.detailed-btn-con{
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    width:100px;
    background-color: white;
    border-color: #007c7e;
    border-style: solid;
    height:auto;
    margin-right:20px;
    border-radius:20px;
}
.detailed-btn-con:hover{
    background-color: #007c7e;
    color:white;
}