.rectangle{
    width:100%;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.topic-left-income{
    float: left;
    display: flex;
    width:40%;
}
.topic-right-income{
    width:60%;
}
.content{
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    padding-left: 20px;

}
.btn-right-income{
    float:right;
    display: flex;
}
.detailed-btn-income{
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    width:100px;
    background-color: white;
    border-color: #007c7e;
    border-style: solid;
    height:auto;
    margin-right:20px;
    border-radius:20px;
}
.detailed-btn-income:hover{
    background-color: #007c7e;
    color:white;
}